.D.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}


.D{
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 1200px) {
  
  .title {
    padding: 0 100px;
    color: black;
    font-size: 50px;
  }
}
